[2017-12-14 02:41] anjosh opened #1 "Define Columns for initial tables"

[2017-12-15 04:22] #1 closed

[2017-12-21 02:26] anjosh commented on #1
https://github.com/Djeisen642/htm-project/wiki/Tables

[2017-12-21 02:36] Djeisen642 opened #2 "How to distinguish a non-user from a user?"
Should the invitationDate be the thing that defines a user?

[2017-12-21 02:36] Djeisen642 commented on #2
Should the password be the thing that defines a user?

[2018-01-04 01:46] anjosh commented on #2
I think that starting off we can just have password be the thing since invitations will take more effort to implement.

[2018-01-04 01:49] anjosh commented on #2
https://github.com/anjosh/htm-project-backend/issues/1

[2018-01-04 12:28] anjosh opened #3 "margins on cards on mobile have no space"

[2018-02-09 00:51] anjosh commented on #2
Using the user table

[2018-02-09 00:51] #2 closed

[2018-02-09 00:51] anjosh commented on #3
didn't notice this problem any more

[2018-02-09 00:51] #3 closed

[2018-03-21 19:34] leightonpd opened #4 "Blank page at http://testhtm.herokuapp.com/"
When loading the login page at http://testhtm.herokuapp.com/, the page doesn't display.

When loading the login page at https://testhtm.herokuapp.com/ (TLS/SSL encrypted), the page displays properly.

I recommend that http://testhtm.herokuapp.com/ be set up to automatically redirect to https://testhtm.herokuapp.com/.

I am curious why nothing shows without the TLS/SSL encryption. Default to preven

[2018-03-22 01:38] Djeisen642 commented on #4
This looks fixed

[2018-03-22 01:38] #4 closed

[2018-03-22 01:47] Djeisen642 opened #5 "Status field"
Add status dropdown to components/changePerson using vue.js
Statuses include... @anjosh ?

[2018-03-23 23:43] anjosh commented on #5
Good question. Maybe we can ask Michael to help with this.

[2018-04-21 19:22] Djeisen642 opened #6 "Import csv or xlsx"
Needs to be able to map headers to columns and bulk import any number of guests

[2019-02-11 20:08] anjosh commented on #5
This was added in https://github.com/Djeisen642/htm-project/pull/8

[2019-02-11 20:08] #5 closed

[2019-02-11 20:13] anjosh commented on #6
This is the file that is on the heavenlytribe.org website and many tribal messiahs are already using. We want to be able to import this one. https://drive.google.com/file/d/0B_uVEsYLmMO6VEJJa08xb2M0Zl9pMmNnb0lRRE55aWozdHRZ/view?usp=sharing

[2019-02-11 20:14] anjosh opened #12 "Rename Blessing steps to be more official"
Change current names to:
Education
Donation
Holy Wine
Benediction
Chastening Ceremony
40-Day Seperation
3-Day Ceremony

[2019-02-11 21:03] anjosh commented on #12
Might be an opportunity to create an API for ActivityTypes and poll that instead of having the UI hard code the blessing steps.

[2019-02-11 21:03] anjosh commented on #12
Related to https://github.com/anjosh/htm-project-backend/issues/11

[2019-02-12 01:20] anjosh opened #13 "Update app to look more like updated designs"
Taking inspiration from https://contacts.google.com.

Designs are here: https://docs.google.com/document/d/19L_tGJLrdKk5WL-B8l7905ybEo52rvcs72pPYUpLdP8/edit#

[2019-02-12 01:27] anjosh opened #14 "add unit tests"
I would lean towards 1) jest 2) mocha but I'm open

[2019-02-12 01:28] anjosh opened #15 "add linter"
let's use the same lint file we use for https://github.com/anjosh/htm-project-backend/issues/13

[2019-02-12 04:29] anjosh commented on #15
Woops we already have one on this repo don't we :)

[2019-02-12 20:24] #15 closed

[2019-02-13 18:01] anjosh opened #16 "Update view contact popup to use blessing steps icons shown in design"
Design is here: https://docs.google.com/document/d/19L_tGJLrdKk5WL-B8l7905ybEo52rvcs72pPYUpLdP8/edit#heading=h.v8ga5yu9g9xm

This will need us to import fontawesome in our project. unless we can find better icons in the material icons.

[2019-02-13 18:24] anjosh commented on #16
@Djeisen642 I spent a while trying to import fontawesome icons into the project but couldn't get it to work. I would appreciate your help if you could take a stab.

[2019-02-13 19:15] anjosh commented on #16
this is part of the work needed for #13

[2019-02-13 19:34] anjosh commented on #6
completed by #7

[2019-02-13 19:34] #6 closed

[2019-02-13 19:35] #12 closed

[2019-02-14 04:13] Djeisen642 commented on #16
Ok.

[2019-02-21 15:36] anjosh commented on #16
@Djeisen642 could you hold off on adding these icons to the view contact popup for now since I'm making some small updates to that at the moment.

[2019-02-21 21:51] Djeisen642 commented on #16
Yeah. No problem.
To add fontawesome icons, use `fa-<icon name>`.

[2019-03-05 20:55] Djeisen642 commented on #14
I've used mocha before. But...
![image](https://user-images.githubusercontent.com/33557118/53836901-28c5b780-3f5f-11e9-9b27-5f5543d300fe.png)

[2019-03-05 23:47] anjosh commented on #14
I'm fine with either. Probably let's stick with one for both repos if
possible. My vote would be for Jest. Could you confirm Jest works for
backend projects as well? I thought it was only for frontend testing.

On Tue, Mar 5, 2019, 3:55 PM Djeisen642 <notifications@github.com> wrote:

[2019-03-20 19:24] anjosh commented on #16
Added icons to personProfile so going to say that this is done.

[2019-03-20 19:24] #16 closed

[2019-03-20 19:31] anjosh commented on #13
I'm going to close this since it's not focused on a user story/problem directly.

[2019-03-20 19:31] #13 closed

[2019-03-20 19:33] anjosh opened #22 "As Carl, I can opt-in or out of communications from MyTribe"
I believe this will be handled by infusionsoft not MyTribe.

[2019-03-20 19:36] anjosh opened #23 "As Carl, if Tim has checked to send me an email, I receive a welcome email after my information is entered into MyTribe"
Email includes:
- Blessing Certificate
- Photos

[2019-03-20 19:53] anjosh opened #24 "As Tim, I should be able to access my wife’s information"

[2019-03-20 19:53] anjosh opened #25 "As Tim, I can bulk upload lists of contacts from an Excel spreadsheet"
The first import will only work for the one Blessing spreadsheet for these fields **only**:
- [x] Husband First Name
- [x] Husband Last Name
- [x] Wife First Name
- [x] Wife Last Name
- [x] Husband DOB
- [x] Wife DOB
- [x] Husband Cell
- [x] Wife Cell
- [x] Husband Email
- [x] Wife Email
- [x] Notes
- [x] Blessing Steps Completed (if the entry has a "Yes" instead of a date we will record it was co

[2019-03-20 19:54] anjosh opened #26 "As Tim, I can upload Blessing photos of couples or families"

[2019-03-20 19:55] anjosh opened #27 "As Carl, I can update my contact information and subscription preferences"

[2019-03-20 19:55] anjosh opened #28 "As Carl, I can login through Facebook"

[2019-03-20 19:55] anjosh opened #29 "As Carl, MyTribe connects me to the BFM facebook page"

[2019-03-20 19:59] anjosh opened #30 "As Carl, my account should be tied to my wife’s"
I think everyone's account will be tied to their wife's. I think this will come for free with #24

[2019-03-20 20:00] anjosh commented on #27
I think that once Carl starts to interface with the app he should become a Tim (Tribal Messiah). So I think some of these issues are irrelevant.

[2019-03-20 20:02] anjosh opened #31 "As Carl, I can self-report on my progress through the Blessing steps"

[2019-03-20 20:04] anjosh-zz opened #32 "As Tim, I should have a way to request Larry’s approval"
What happens when Tim gets Larry's approval?
Why is this needed?

[2019-03-20 20:04] anjosh opened #33 "As Tim, I can register my wife with her email address"

[2019-03-20 20:05] anjosh opened #34 "As Tim, I should be able to get credit for Blessings done by Sarah"

[2019-03-20 20:05] anjosh opened #35 "As Tim, I should be able to update my contact information"

[2019-03-20 20:05] anjosh opened #36 "As Tim, I should be able to see if I’m approved as a Blessing Officiator"

[2019-03-20 20:19] anjosh opened #37 "As Tim, I should be able to delete a contact"

[2019-03-20 20:20] anjosh opened #38 "As Tim, I should be able to edit Carl's Blessing Steps"
- [ ] create a page to edit Carl's Blessing Steps. Will look similar to the add Blessing Steps page.
- [ ] create edit action API endpoint

[2019-03-20 20:21] anjosh opened #39 "As Tim, I should be able to easily see my progress towards becoming a HTM Accomplisher"

[2019-03-20 20:22] anjosh opened #40 "As Tim, I should be able to send an email to multiple contacts at once"
This is estimated based on this description:
- [ ] add the ability to multi-select contacts on the list contacts page
- [ ] create email with bcc to all those contacts

[2019-03-20 20:22] anjosh opened #41 "As Tim, I should be able to easily remember the url to MyTribe"

[2019-03-20 20:23] anjosh opened #42 "As Tim, I should be able to delete Carl's Blessing Steps"

[2019-03-20 20:25] anjosh opened #43 "As Tim, I should be able to use MyTribe to report my HTM work"

[2019-03-20 20:31] anjosh opened #44 "As Tim, I should be able to reset my password if I forget it"

[2019-03-21 16:10] anjosh commented on #41
The app can now be accessed via https://app.tribenet.co/. So this is done.

[2019-03-21 16:25] anjosh opened #45 "As Tim, I should be able to access MyTribe through Safari"
Currently, I'm seeing this error message: `Failed to load resource: The network connection was lost`

I'm hoping that fixing this will also solve the issues Roger was having.

![Screen Shot 2019-03-21 at 12.23.36 PM.png](https://images.zenhubusercontent.com/566ed674638e718c995f6029/1ed6183c-a408-4676-a98e-22cb40cee535)

[2019-03-21 16:36] anjosh commented on #45
Reference: https://stackoverflow.com/questions/33895463/safari-ajax-request-failed-to-load-resource-the-network-connection-was-lost

[2019-03-27 17:34] anjosh opened #46 "As Tim, I can easily see who is Carl's wife"
Had a hard time trying to get relationships back from /guests API. Seems like this PR will help to debug

[2019-04-03 20:13] anjosh opened #47 "Debug issues Roger is having with import"

[2019-04-05 14:41] AUSROGER opened #48 "Facebook Integration is not setup properly - Still in Dev Mode"
![image.png](https://images.zenhubusercontent.com/5c92d4ca8dcdbd6b61379ffe/822dd74b-a713-4c7a-b26d-26c7a2895bfa)
Go to either Registration or Login page and click Facebook

[2019-04-05 19:02] anjosh commented on #48
In order to make Facebook live we would need a Privacy Policy. I found a privacy policy generator but that would cost a bit of money and take some time. I'm going to disable facebook login for now.

[2019-04-05 19:14] anjosh opened #49 "As Tim, I'd like to see who is Carl's wife in his contact information"

[2019-04-05 19:20] anjosh commented on #46
duplicate: #49

[2019-04-05 19:20] #46 closed

[2019-04-05 19:26] anjosh opened #50 "Make error on import more noticable"

[2019-04-05 20:36] anjosh opened #51 "Use auth0 for login"

[2019-04-05 21:21] AUSROGER opened #52 "Issues with Editing Records"
If a phone number is entered without an initial "1" then it is not displaying correctly on the Profile Detail page.
If I edit that record and save it then the system is appending an additional "1" to the front of the Phone number each time it is saved thus corrupting the number.

[2019-04-05 21:25] AUSROGER commented on #52
![3rd save after edit.JPG](https://images.zenhubusercontent.com/5c92d4ca8dcdbd6b61379ffe/e16ece87-1092-4101-bdfd-f19dc1fe4bfc)!

[First Save after edit.JPG](https://images.zenhubusercontent.com/5c92d4ca8dcdbd6b61379ffe/d3b890c3-cda5-48ba-8a78-16639bde351b)

[2019-04-05 21:26] AUSROGER commented on #52
Also - Male Female Selection is not saving. This should be updated when importing the spreadsheet based on whether the name is in the Husband or Wife column

[2019-04-05 21:29] AUSROGER commented on #48
We should be able to just use the Privacy Policy on the Family Fed Website. I am sure it has been vetted by the legal team
http://familyfed.org/privacy/

Roger Wetherall | M 203-260-2279
wetherallroger@gmail.com

From: Joshua Angelucci
Sent: Friday, April 5, 2019 3:02 PM
To: anjosh/htm-project
Cc: AUSROGER; Author
Subject: Re: [anjosh/htm-project] Facebook Integration is not setup properly -Still

[2019-04-05 22:02] anjosh commented on #48
Great. Thanks Roger.

On Fri, Apr 5, 2019, 5:29 PM AUSROGER <notifications@github.com> wrote:

[2019-04-05 23:58] anjosh commented on #48
Ok done. Let me know if it works now.

[2019-04-08 00:53] anjosh opened #53 "Add add button to list guests page"

[2019-04-08 00:54] anjosh commented on #52
Thanks for reporting Roger!

[2019-04-08 01:06] anjosh commented on #52
@AUSROGER I'm not able to reproduce the first issue. Could you explain in more details the steps you took to make it happen?

[2019-04-08 12:02] anjosh opened #54 "Make sending email more clear"

[2019-04-08 14:49] anjosh opened #55 "Male and Female is not being imported or shown on edit"

[2019-04-08 14:50] anjosh commented on #52
I created #55 to track fixing the issues with male and female.

[2019-04-08 14:57] anjosh opened #56 "Determine user flow and designs for editing and deleting blessing steps"
This is assigned to Michael Holmes.
This is blocking #38 and #42

[2019-04-08 18:29] AUSROGER commented on #28
Looks like this is working now. I am able to register and login successfully

[2019-04-08 18:38] AUSROGER commented on #52
Here is a link to a video of the problem I am having with saving phone numbers
https://drive.google.com/open?id=1SfrmgHM-lGY_456MadnzK3p0OjugEBNV
This also demonstrates how the Male / Female settings are not being updated either

[2019-04-08 18:40] AUSROGER commented on #52
I have uploaded a video to show the problem.
Also, I do not seem to have privileges to mark bugs as resolved or move items around on the KanBan board. Could you look into that please

Roger Wetherall | M 203-260-2279
wetherallroger@gmail.com

From: Joshua Angelucci
Sent: Monday, April 8, 2019 10:50 AM
To: anjosh/htm-project
Cc: AUSROGER; Mention
Subject: Re: [anjosh/htm-project] Issues with Editin

[2019-04-10 16:31] anjosh commented on #39
Go to http://app.tribenet.co/progress to see the page. Let me know what you think before I add it to the menu.

[2019-04-10 16:34] anjosh commented on #52
Thanks for the video! I sent you an email to invite you to the Zenhub workspace. I hope that fixes that issue.

[2019-04-10 16:35] anjosh commented on #56
Done by Michael. Here is what he posted:
https://htm-project.slack.com/archives/CGCBWDGEN/p1554746942001000

![jackspouse](https://user-images.githubusercontent.com/2905269/55896782-16a5ed00-5b8d-11e9-8616-a19f99ff8c96.gif)

[2019-04-10 17:42] anjosh commented on #52
That video explains the problem perfectly. I should be able to fix it now thanks!

[2019-04-10 20:23] anjosh commented on #52
both phone number and gender issues should be fixed now

[2019-04-11 14:23] AUSROGER commented on #52
Reviewed the bug and confirmed that it is fixed now

[2019-04-11 14:29] AUSROGER commented on #55
I have tested this and it is working now

[2019-04-12 16:21] anjosh commented on #55
Great thank you.

[2019-04-12 16:21] anjosh commented on #52
Thank you!

[2019-04-12 17:30] mikiekwoods opened #57 "Create a Dashboard Design"
Number of Contacts
Progress Towards 430
Add Guest
View Contacts

[2019-04-12 17:32] mikiekwoods opened #58 "Add a notice when importing that duplicates will be made"
Idea: "Notice: Existing contacts added again will be duplicates."
Tooltip: You may delete the duplicates manually.

[2019-04-12 18:23] mikiekwoods opened #59 "Import does not work for this spreadsheet"
https://www.dropbox.com/s/d41skln61jpp5jq/Blessing-Tracker-6-23-17.xlsx?dl=0

[2019-04-16 02:33] mikiekwoods opened #60 "Beta Testers have an easy link to submit feedback"
I think either on the menu or at the bottom of each page. Either is fine.

https://airtable.com/shrxjRDDqR972o93q

[2019-04-18 17:23] AUSROGER opened #61 "Email Verification Needs to be re-formatted"
![image.png](https://images.zenhubusercontent.com/5c92d4ca8dcdbd6b61379ffe/de270217-386b-49e8-9235-d2b7b5d482e7)
The attached image shows the verification email. This needs to be formatted better to make it consistent with the website

[2019-04-18 18:48] AUSROGER opened #62 "Blessing Steps are being duplicated"
![image.png](https://images.zenhubusercontent.com/5c92d4ca8dcdbd6b61379ffe/2dd91e1e-f5de-4724-bb8e-bdcaae860c5a)![image.png](https://images.zenhubusercontent.com/5c92d4ca8dcdbd6b61379ffe/43765be6-ff14-49f6-a605-7d4304d9bece)
I am not sure why these steps are being duplicated for some people but not for others when a list is imported.

[2019-04-18 18:50] AUSROGER commented on #49
Can we make the Spouse's name a Hot link so that you can tap on it to see the spouse's information?

[2019-04-18 18:57] AUSROGER opened #63 "Cannot Add Pictures to contacts"
Edit an existing contact > Add a Picture > Upload a File> Save the record > Go back to the list view.
The picture does not appear next to the person's name.

[2019-04-18 21:12] anjosh commented on #49
Yes. That can be another issue.

[2019-04-18 21:13] anjosh commented on #62
Great glad you found this issue. Will look into it.

[2019-04-18 21:32] anjosh opened #64 "upgrade database"
https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases?c=&utm_campaign=postgreslimits&utm_medium=telex&utm_source=nurture&utm_content=devcenter&utm_term=upgrade-c#upgrading-with-pg-copy

[2019-04-18 22:34] mikiekwoods commented on #39
![Dashboard.JPG](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/fdc51289-fb9c-4464-bd4b-3ed7ed509501)

Tile 2 Tooltip: "These couples have completed the first 2 steps of Blessing which are the Holy Wine and Blessing Ceremony"

Tile 3 Tooltip: "These couples have completed all 5 steps of Blessing including the 40-day separation period and the 3-day ceremony"

[2019-04-19 14:22] anjosh commented on #39
Looks great. thanks. A few comments:
- We currently are using the IHQ standard of 7 Blessing steps so I'll update the tooltips based on that.
- Also, we could add the number of couples.
- I think it's unnecessary to have Add Contact so large there.
- What do we want to be the title for the page? all other pages have titles I believe and also have one large card. Do we want to have these cards with

[2019-04-19 15:18] mikiekwoods commented on #39
Same large card format is fine. I think the menu title should be
"Dashboard" and Replace the welcome page with it and on the page it can say
"Welcome back, Persons Name."

On Fri, Apr 19, 2019, 7:22 AM Joshua Angelucci <notifications@github.com>
wrote:

[2019-04-19 16:04] anjosh commented on #59
This should be fixed in a few minutes. @mikiekwoods could you test it?

[2019-04-19 16:39] anjosh commented on #60
@mikiekwoods done. Could you test?

[2019-04-19 19:39] mikiekwoods commented on #60
Looks good

On Fri, Apr 19, 2019 at 9:39 AM Joshua Angelucci <notifications@github.com>
wrote:

--

*  Michael Holmes*

[2019-04-19 19:41] mikiekwoods commented on #59
Cool it works now.

I'd suggest put a sample in the template file.

On Fri, Apr 19, 2019 at 9:04 AM Joshua Angelucci <notifications@github.com>
wrote:

--

*  Michael Holmes*

[2019-04-23 19:55] anjosh commented on #63
Hi Roger. I'm unable to reproduce the issue. There was a major issue with the database which I just fixed. Could you see this is still not working?

[2019-04-23 20:17] anjosh opened #65 "add account linking"

[2019-04-23 21:38] anjosh commented on #60
Thanks! Could you move it to the Done column and that goes for any issue you review in the future.

[2019-04-23 21:39] anjosh commented on #59
That's a bit tricky because I would need to host the file online. At the moment I'm simply linking to the already hosted file on tribenet. If we updated that one with an example then this would get that. I'm saying this is good to be moved to Done for now.

[2019-04-23 21:40] anjosh commented on #62
This should be fixed now. Let me know.

[2019-04-23 21:44] AUSROGER commented on #61
i checked this in various email clients and it looks like it is just unique to my Windows Mail program which nobody really uses

[2019-04-23 21:56] AUSROGER opened #66 "Add Disclaimer regarding Agreement regarding collection and use of personal information"
Here is text that should appear after a person first registers to use the app

1. *Purpose of collection and use:* The personal information you are providing will be used by the Family Federation for World Peace and Unification (USA) (hereafter FFWPU USA) for managing records of FFWPU Leaders and lists of Heavenly Tribal Messiahs (HTMs), approving accounts and managing the confirmation of HTMs, ma

[2019-04-24 00:29] anjosh commented on #62
@AUSROGER Let me know if it looks fixed to you

[2019-04-24 00:40] anjosh commented on #61
Ah ok. That's good to hear. I'll move this to Done then.

[2019-04-24 14:43] anjosh commented on #58
@mikiekwoods Could you share a design for this? Or tell me where you think it should be added?

[2019-04-24 14:44] anjosh commented on #66
Thank you Roger. We need a design for this now. @mikiekwoods could you think about this? Let's discuss in our next call.

[2019-04-24 14:46] anjosh commented on #39
Let's discuss this as well in our next call. @mikiekwoods a full page design will help us with the discussion.

[2019-04-25 18:39] mikiekwoods commented on #39
By full page design you mean how the dashboard would look like in the app
context? Or a different design? Either is fine, just clarifying.

On Wed, Apr 24, 2019 at 7:46 AM Joshua Angelucci <notifications@github.com>
wrote:

--

*  Michael Holmes*

[2019-04-25 18:50] mikiekwoods commented on #58
![image](https://user-images.githubusercontent.com/37634342/56760558-4a1d7580-6750-11e9-89fa-c4b3bce9cf1a.png)

[2019-04-25 18:53] mikiekwoods commented on #58
Tooltip: Avoid importing contacts more than once. If you have duplicates, you may delete them manually.

[2019-04-25 19:23] anjosh commented on #58
Awesome!!!!

[2019-04-25 19:23] anjosh commented on #39
In the app context. Thank you!

[2019-04-25 20:38] anjosh commented on #63
@AUSROGER did you see my last comment?

[2019-04-25 20:57] anjosh commented on #58
I think it's clearer to say:
Notice: If you import existing contacts again, you will see duplicate contacts. You may delete duplicate contacts at any time.
@mikiekwoods that look ok to you?

[2019-04-25 21:00] anjosh commented on #56
@mikiekwoods could you remove the Notes and location fields since we don't have that information yet? Also, do you think we need the spouse information if we already have it in the person view?

[2019-04-25 21:03] anjosh commented on #66
@AUSROGER @mikiekwoods where do you think this should appear? I'm thinking somewhere in the app (not part of the login app). Maybe this can be part of the signup process where you also specify your spouse, location, local church community.

[2019-04-25 21:09] anjosh commented on #66
I think we should distinguish here that we're not planning on sharing any of the tribe members' (aka Contact aka Carl) personal information. We're only going to use their information for statistics. The Tribal Messiah's (Tim) personal information will be used. So I think for our app only the personal information of someone that registers in the app will be used.

[2019-04-25 21:51] noahross72 commented on #66
We should be careful about this.  We are also keeping CRM information like blessing dates and other activities.  I suggest keeping it simple and not tie our own hands in the future.  Perhaps we need to talk with Legal.  The main thing is we won't sell or distribute PI to other organizations.

[2019-04-26 17:07] mikiekwoods commented on #39
![welcomeback.png](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/c6b484e7-6080-4c9b-9fcb-08a0b8146768)

[2019-04-26 17:09] mikiekwoods commented on #39
Switched the two Blessing couples.

![welcomeback.png](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/e8b406e3-0949-4685-83cc-40e9180e71f9)

[2019-04-26 17:11] mikiekwoods commented on #39
![welcomeback.png](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/4fac9fc1-29ea-450f-a6ce-045887e11590)

[2019-04-26 17:11] mikiekwoods commented on #39
![welcomeback2.png](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/1dc03b04-2bff-4e8d-8f6a-6d712d18c4f5)

[2019-04-26 17:31] mikiekwoods commented on #56
![removednotes.png](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/8716e7d1-110b-43c4-9162-42593f7f616f)

[2019-04-26 18:24] anjosh opened #67 "Begin to organize the personal information we want to start collecting for Tim (Tribal Messiah)"
@mikiekwoods @AUSROGER this is what I said I would create an issue for in today's meeting.

In terms of reporting, I believe what we want to replace is this form: https://tribenet.co/enter-your-blessings-below/

Here is a list of **some** of the information that's asked for in the form above:
1. personal information
    1. local community
    2. address
    3. spouse name and email
2. measurements

[2019-04-26 18:25] anjosh commented on #56
Could you show it in the context of the page? I think there might be too much whitespace.

[2019-04-26 18:28] anjosh commented on #39
Looks great! Is there a difference between your last two designs or just duplicate?

[2019-04-26 18:30] anjosh commented on #39
Shall I add `of 43 goal` as well for the Fully Blessed Couples' card? Also, the pie represents how much is completed right?

[2019-04-26 20:46] mikiekwoods commented on #39
The Fully Blessed couples should be at the end, that's why I uploaded it
again.

Correct, the pie is how close to completing. Maybe a bar is better?

[image: wriframesmytribe222.png]

On Fri, Apr 26, 2019 at 11:30 AM Joshua Angelucci <notifications@github.com>
wrote:

--

*  Michael Holmes*

[2019-04-26 20:46] mikiekwoods commented on #39
Oops, I should have put the 430 goal on the bottom one too

On Fri, Apr 26, 2019 at 12:03 PM Michael Holmes <wearviral@gmail.com> wrote:

--

*  Michael Holmes*

[2019-04-26 23:48] mikiekwoods commented on #58
That looks better but maybe you might want to put something about the
deleting duplicates being manually since they might look for a way to do it
automatically. "You may delete duplicate contacts at any time (manually)."
ᐧ

On Thu, Apr 25, 2019 at 1:57 PM Joshua Angelucci <notifications@github.com>
wrote:

--

*  Michael Holmes*

[2019-04-30 14:30] anjosh commented on #56
@mikiekwoods Could you take a look at my last comment?

[2019-04-30 14:32] anjosh commented on #66
@AUSROGER @noahross72 @mikiekwoods per our previous discussion. I will send an email to HQ and cc us to further discuss this.

[2019-04-30 14:33] anjosh commented on #66
adding @mikiekwoods post in slack here:

Maybe for HTMs in the field, we can give them an official form they can fill out and the contact actually checks off a box that says something like "I understand that my data will only be shared within the organization (HSA-UWC USA & HSA-UWC) for reporting & statistical research."

"I understand that I am NOT opt-ed in to any subscription list but the repre

[2019-04-30 14:39] #57 closed

[2019-04-30 18:32] anjosh commented on #67
@AUSROGER @mikiekwoods So the Dashboard page currently shows information about how many people Tim has Blessed. I'm wondering if the name Dashboard is really appropriate since a better name to me seems like Blessing Measurements or Blessings Shared. What do you think for the name?
Also for the Person information do you think it makes sense to have that in a "Profile" page? Or something else? In wh

[2019-04-30 18:38] anjosh commented on #67
Also, I believe the way we want to generate these numbers would be by allowing all the necessary information to be added to the contact as opposed to having people simply fill out a form that asks for these numbers.

For instance, to calculate 1990s blessings we would look at how many people did Tim support to complete the first 2 steps in the 1990s.

So actually I believe we are already storing a

[2019-04-30 18:45] anjosh opened #68 "As Henry (HTMA Leader) I should be able to see a dashboard showing number of HTM Accomplishers"
Karlsun and I spoke and the first step we landed on for this is to combine all the data we have at the moment in spreadsheets to create charts that show some of the necessary metrics we want to measure and make those charts and data update automatically.

For the first phase we want to show metrics similar to those in the [Slide Series for TM Tuesday Report presentation](https://docs.google.com/pr

[2019-04-30 18:53] anjosh commented on #68
This could be said to be part of #43

[2019-04-30 22:56] mikiekwoods commented on #56
![wriframesmytribe2](https://user-images.githubusercontent.com/37634342/56998520-68c0a980-6b60-11e9-9ce9-a6eb2ff57417.png)
I think a bit of white space at the bottom is okay. It'll fill up when there's more features.

[2019-04-30 23:00] mikiekwoods commented on #68
This is all happening in the app?

[2019-05-01 16:34] anjosh commented on #56
Ok thanks. Will mark this done.

[2019-05-01 16:34] #56 closed

[2019-05-01 16:35] anjosh commented on #68
Not now. Eventually we want reporting to happen automatically as people enter their contacts information in the app.

[2019-05-02 14:57] anjosh commented on #68
It is not completely automatic but close: https://docs.google.com/spreadsheets/d/1PpfLV5R_nKOiVBch_OBy6Q1lNGSx4qcbzTiX6LKue1U/edit?ts=5cc3619f#gid=2067644459

Deeming this ready to be reviewed.

[2019-05-02 19:38] anjosh commented on #39
@mikiekwoods I added a dashboard page you should be able to see it on app.tribenet.co/dashboard in a few minutes. I made some adjustments because it was a bit difficult to follow the design exactly. I added the Holy Wine couples because I think the reality is that many TMs haven't had many couples complete all 3 steps. I removed the all steps couples because it's a bit hard to calculate it and I t

[2019-05-02 22:18] mikiekwoods commented on #39
Looks good.

Few tweaks
Maybe a bit colorful. If they were white with colored icons, I think that
would match more the other page designs.
Also it seems on desktop it's wider than other pages. I think it can be a
bit more narrow.
The current Dashboard menu item doesn't go to the correct link.

On Thu, May 2, 2019 at 12:38 PM Joshua Angelucci <notifications@github.com>
wrote:

--

*  Michael Holmes

[2019-05-03 17:32] mikiekwoods commented on #39
Also add the icon to add a guest in the bottom right.

[2019-05-07 18:36] anjosh commented on #39
I'm not gonna add that at the moment since I'm getting a few bug reports from the beta testers. I'll prioritize those first.

[2019-05-07 18:39] anjosh commented on #39
NVM was easy to add. Added the button. @mikiekwoods please move to done if it looks good to you.

[2019-06-03 18:08] anjosh opened #69 "As Tim, I should be able to choose from multiple email templates to send to Carl"
How about after clicking on Carl's email address it shows a popup that looks like this. And if they click on any of the templates it opens up their email and fills out the text for them.

![Screen Shot 2019-06-03 at 2.05.43 PM.png](https://images.zenhubusercontent.com/566ed674638e718c995f6029/51cc0986-1327-498c-b128-5aecb7130242)

[2019-06-03 18:09] anjosh commented on #69
@mikiekwoods What do you think?

[2019-06-04 15:24] mikiekwoods commented on #69
Sure. Do you think this format will work when there are more templates?

[2019-06-04 16:11] mikiekwoods commented on #69
You probably also want to have a good title that gives context. "Send an Email"

And then you can have the first one be "blank email" (just opens their email with that address)

And then the other ones could be labeled "Share a resource"

[2019-06-04 16:29] anjosh commented on #69
I think it'll work for a few more. When it stops working we can change the format.

[2019-06-04 16:34] mikiekwoods commented on #69
Yeah, I think it's fine as long as theirs a scroll. Maybe in the future, an
accordion is an easy way expand using this format.

On Tue, Jun 4, 2019 at 9:29 AM Joshua Angelucci <notifications@github.com>
wrote:

--

*  Michael Holmes*

[2019-06-05 17:22] mikiekwoods commented on #69
Looks good.

Let me mock up a design for a blank template for you.

[2019-06-05 18:45] anjosh opened #70 "As Tim I should be able to search for contacts based on their notes field"

[2019-06-06 15:20] anjosh commented on #69
@mikiekwoods thanks for taking a look. That's a good idea.

[2019-06-12 21:36] mikiekwoods commented on #69
![emailtemplates.png](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/801ce4eb-f910-4bd6-94e1-5a9c2df218f0)

Here's a concept for the blank email. Just uses the fontawesome file icon.

[2019-06-14 14:50] anjosh opened #72 "Add ability to send blank email to contacts in Email Template page"
![emailtemplates.png](https://images.zenhubusercontent.com/5c92b6a2a7f08c1a3af99706/801ce4eb-f910-4bd6-94e1-5a9c2df218f0)

Here's a concept for the blank email. Just uses the fontawesome file icon.

_Originally posted by @mikiekwoods in https://github.com/anjosh/htm-project/issues/69#issuecomment-501464058_

[2019-07-08 21:02] mikiekwoods opened #73 "As Tim, I should be able to click one page for information on using the app"
Feedback Page to Help Page (with How to Videos, FAQ, and contact for feedback and help)

Maybe when first logging in on a new account, this is the first page you see.

Nancy and I talked about two main how-tos. Storing Contacts & Follow Up with Contacts.

[2019-07-08 21:08] mikiekwoods opened #74 "As Tim, I should be able send text message templates to follow up with my contacts"
Looks like this is possible: https://stackoverflow.com/questions/6480462/how-to-pre-populate-the-sms-body-text-via-an-html-link

You may need to check if it is iOs or Android and format it differently

[2019-07-10 19:23] anjosh commented on #73
Ok sounds good. Some designs would be very helpful.

[2019-07-10 19:23] anjosh commented on #74
Is this something that you and Nancy felt was important?

[2019-07-11 12:23] mikiekwoods commented on #74
No this is what I thought could be a good feature and pretty easy to
implement I think. Not urgent but could add a lot of value.

On Wed, Jul 10, 2019, 12:23 PM Joshua Angelucci <notifications@github.com>
wrote:

[2019-08-01 19:08] anjosh commented on #74
Just saw your comment today. I agree. It's on my radar.

[2019-08-21 16:38] anjosh commented on #73
With the in-app tutorial now online, I would say this isn't necessary at the moment. @mikiekwoods feel free to re-open it if you think it is.

[2019-08-21 16:38] #73 closed

[2019-08-21 16:43] anjosh commented on #66
Olga, from HQ Legal, has created a privacy policy. I've emailed her to review this discussion to make sure that covers everything we need for this. Here's the [Privacy Policy](https://app.zenhub.com/files/112847421/51404d34-4156-4661-b229-1533d883e67d/download).

[2019-08-21 16:45] anjosh opened #75 "As Tim, I should be able to add more Blessing Steps that Carl and his wife have completed after adding Carl to my contact list"

[2019-08-21 16:45] anjosh commented on #75
This was requested by Kathy Sabo in an email.

[2019-08-21 17:20] noahross72 commented on #66
Josh / Olga

This seems to say that if we want to enter our Spiritual child in the app for our own use we need to get permission.  Is that true?  When I enter a contact to Outlook or Gmail I don’t do this.

Noah

From: Joshua Angelucci <notifications@github.com>
Sent: Wednesday, August 21, 2019 12:43 PM
To: anjosh/htm-project <htm-project@noreply.github.com>
Cc: noahross72 <noahross72@gmail.com>;

[2019-08-21 17:25] anjosh commented on #66
Olga explained to me that this is there to protect us. Saying that we, creators of MyTribe, are not liable for users putting in information that they don't have permission to put in. This is likely what Google and Outlook have in their privacy policy as well.

[2019-08-21 19:23] noahross72 commented on #66
Mr. Ross,

The policy requires the user to obtain the guest's permission. This is the
only way to ensure that HSa fulfills its privacy obligations.
Permission does not have to be in any particular form. Even oral okay would
suffice.

*Olga Majitova*
HSA-UWC
212-719-4980
212-719-4996
4W 43rd St
New York NY 10036

On Wed, Aug 21, 2019 at 1:20 PM Noah Ross <noahross72@gmail.com> wrote:

[2019-08-21 21:38] noahross72 commented on #66
Hi Olga,

In my company, we use a CRM web tool to keep track of sales contacts.  We don’t ask permission because it is just a tool instead of keeping it on a spreadsheet.

I’m afraid that asking TMs to ask permission to do this will kill the whole usefulness of the app.

Noah

From: Olga Majitova <omajitova@unification.org>
Sent: Wednesday, August 21, 2019 3:23 PM
To: Noah Ross <noahross72@gmail.c

[2019-08-21 21:49] noahross72 commented on #66
Also, when you put contact information in your Google contacts or Outlook, you don’t tell everybody.

From: Noah Ross <noahross72@gmail.com>
Sent: Wednesday, August 21, 2019 5:38 PM
To: 'Olga Majitova' <omajitova@unification.org>
Cc: 'anjosh/htm-project' <reply@reply.github.com>
Subject: RE: [anjosh/htm-project] Add Disclaimer regarding Agreement regarding collection and use of personal informatio

[2019-08-22 14:31] noahross72 commented on #66
Mr Ross,

The policy requires the user to obtain permission to collect the
information from their guests, not specifically to store it anyway.
GDPR guidelines which we are trying to comply with are very clear, and this
small provision in the policy barely helps us to fulfill our obligations.
According to my (very limited) understanding of the CRM web tools, they do
not exclude any privacy obligati

[2019-08-22 15:05] anjosh commented on #66
Olga,

Could we re-word it to something like what the Infusionsoft CRM's privacy
policy says: https://keap.com/legal/application-privacy-notice

This Notice does not apply to personal data we collect by other means, such

Thank you for your help with this.

Josh

On Thu, Apr 25, 2019 at 5:51 PM noahross72 <notifications@github.com> wrote:

[2019-08-22 15:56] anjosh commented on #66
Josh,

I cannot do that unless you confirm that this statement is actually true.
Can you confirm that "we act only as a storage and service provider,
without any interest in or knowledge about what is being stored"?  Won't
information about the users' guests be used at least for statistical
purposes?

*Olga Majitova, Esq.*
HSA-UWC
212-719-4980
212-719-4996
4W 43rd St
New York NY 10036

On Thu, Aug

[2019-08-22 16:35] anjosh commented on #66
We might be able to live with that, although TMs today send the same information to HQ on spreadsheets for statistical purposes.

From: Olga Majitova <omajitova@unification.org>
Sent: Thursday, August 22, 2019 11:57 AM
To: Joshua Angelucci <joshuaan1@gmail.com>
Cc: anjosh/htm-project <reply@reply.github.com>; anjosh/htm-project <htm-project@noreply.github.com>; Assign <assign@noreply.github.com>;

[2019-08-22 17:27] anjosh commented on #66
Mr. Ross,

Do we know what kind of information was sent or just the numbers?
Do you suggest include the statement from Josh?

*Olga Majitova, Esq.*
HSA-UWC
212-719-4980
212-719-4996
4W 43rd St
New York NY 10036

On Thu, Aug 22, 2019 at 12:35 PM Noah Ross <noahross72@gmail.com> wrote:

[2019-08-22 17:45] noahross72 commented on #66
I think they send in all the data…

From: Joshua Angelucci <notifications@github.com>
Sent: Thursday, August 22, 2019 1:27 PM
To: anjosh/htm-project <htm-project@noreply.github.com>
Cc: noahross72 <noahross72@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [anjosh/htm-project] Add Disclaimer regarding Agreement regarding collection and use of personal information (#66)

Mr. Ross,

Do

[2019-08-22 17:49] anjosh commented on #66
Olga,

You're right that statement is not true. We will use the information for
statistical purposes.

On Thu, Aug 22, 2019 at 1:27 PM Olga Majitova <omajitova@unification.org>
wrote:

[2019-08-22 21:09] anjosh commented on #66
After discussion with Olga and Noah. We determined that the privacy policy is good. I'll close this once we have the Policy on the website.

[2019-08-27 16:32] anjosh opened #76 "As Tim, I should be able to easily download a picture I uploaded to MyTribe"

[2019-09-14 12:30] ssoonmi commented on #75
![image](https://user-images.githubusercontent.com/40774865/64908123-aa399780-d6b0-11e9-8337-5ae82dabd6f4.png)

what do you think about this?
@anjosh

[2019-09-16 15:24] anjosh commented on #75
Thank you for the image! It's great. I'd like to discuss this further on the phone with you

[2019-09-16 15:55] anjosh opened #83 "As Tim I should be able to easily delete multiple contacts at once"

[2019-09-16 15:59] anjosh commented on #83
I saw your PRs. Thanks so much for all the screenshots. Do you have any preference to which one you like?

[2019-09-16 16:19] anjosh commented on #75
Related to #42

[2019-09-16 17:18] anjosh opened #84 "As Tim, I should be able to add a spouse for Carl after adding Carl to my contacts"
[Feedback report](https://airtable.com/tbllS9UJw7V3Pr36T/viwzT19qOmrbvpTSa/recPf8gj69aMpgjG0?blocks=hide)

[2019-09-17 17:13] #38 closed

[2019-09-17 17:13] #39 closed

[2019-09-17 17:13] #40 closed

[2019-09-17 17:13] #66 closed

[2019-09-17 17:13] #70 closed

[2019-09-17 17:13] #25 closed

[2019-09-17 17:13] #37 closed

[2019-09-17 17:13] #41 closed

[2019-09-17 17:13] #44 closed

[2019-09-17 17:13] #49 closed

[2019-09-17 17:13] #50 closed

[2019-09-17 17:13] #53 closed

[2019-09-17 17:13] #54 closed

[2019-09-17 17:13] #58 closed

[2019-09-17 17:13] #60 closed

[2019-09-17 17:13] #62 closed

[2019-09-17 17:13] #63 closed

[2019-09-17 17:13] #64 closed

[2019-09-17 17:13] #65 closed

[2019-09-17 17:13] #74 closed

[2019-09-17 17:13] #45 closed

[2019-09-17 17:13] #47 closed

[2019-09-17 17:13] #48 closed

[2019-09-17 17:13] #52 closed

[2019-09-17 17:13] #55 closed

[2019-09-17 17:13] #59 closed

[2019-09-17 17:13] #61 closed

[2019-09-17 17:13] #68 closed

[2019-09-17 17:13] #69 closed

[2019-09-17 17:13] #51 closed

[2019-09-17 18:17] anjosh opened #85 "Content page warning message in console"
[Vue warn]: Do not use built-in or reserved HTML elements as component id: content

[2019-09-23 19:08] anjosh opened #86 "As Tim, I should be able to sort my contacts by first name or last name"
We currently have a full name field but not a first name or last name field.

So this would involve the following steps:
- look at how the full name field is being used now and modify the steps below appropriately

- add the 2 new fields with a migration and in the model
- run the add migration
- replace the full name field in the front end with first and last name
- write a migration to populate

[2019-09-23 20:17] anjosh opened #87 "As Tim, I should be able to star my important contacts"
This is the first step to improving the organization of Tim's contacts.

[2019-09-23 20:19] anjosh commented on #87
Material icon: https://material.io/resources/icons/?icon=star&style=baseline

[2019-10-03 20:19] #83 closed

[2019-10-22 15:25] anjosh opened #93 "As Tim, I should be able to see my contacts that received Holy Wine counted on the Dashboard page even if I haven't recorded their spouse"

[2019-11-15 20:13] #72 closed

[2020-02-24 21:06] #76 closed

[2020-02-24 21:06] #85 closed

[2020-02-25 15:07] anjosh-zz commented on #93
I believe this fix will need to be done here: https://github.com/anjosh/htm-project-backend/blob/d391969bd157a8661e4be33d7e0555d00258d854/routes/persons.js#L87 and possibly in the frontend repo dashboard page: https://github.com/anjosh/htm-project/blob/master/pages/dashboard.vue.

You'll probably need to get familiar with Sequelize and our data model to fix this.